.PhoneInput {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d5db;
  transition: border-color 0.2s;
}

.PhoneInput:focus-within {
  border-bottom-color: #000;
}

.PhoneInputCountry {
  padding: 0.75rem 1rem;
  margin-right: 0.5rem;
  border: none;
  background: transparent;
}

.PhoneInputCountrySelect {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.PhoneInputCountrySelect:focus {
  outline: none;
}

.PhoneInputCountryIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.PhoneInputCountrySelectArrow {
  opacity: 0.5;
  margin-left: 0.25rem;
  width: 0.375rem;
  height: 0.375rem;
  border-style: solid;
  border-color: #000;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 1px;
  transform: rotate(45deg);
}

.PhoneInputInput {
  flex: 1;
  border: none !important;
  outline: none !important;
  background: transparent !important;
  font-size: 1rem;
  padding: 0.75rem 1rem !important;
  border-bottom: none !important;
}

.PhoneInputInput:focus {
  border: none !important;
  outline: none !important;
}
